.km-product-detail-link-2{
    display: none;
}

.km-view-single-price{
    padding-bottom: 0;
}

.km-view-product-back-city {
    float: right; 
    width: 100%;
    margin-bottom: 25px;
    font-size: large;
    /* font-weight: 600; */
    color: #197826;
}

.km-view-product-back-city p{
    float: right;
}
.km-view-product-back-city span{
    padding-right: 10px;
    color: #197826;
    text-decoration: underline;
}

@media only screen and (max-width: 800px)
{
    .km-product-detail-link-1{
        display: none;
    }

    .km-product-detail-link-2{
        display: block;
        margin-bottom: 20px;
        margin-left: 10px;
        padding-top: 20px;
    }

    .km-view-product-back-city p{
        float: left; 
        font-size: medium;
    }
}