/* Banner section */
.km-banner-image {
    /* background-image: linear-gradient(rgba(92, 88, 88, 0.5), rgba(0, 0, 0, 0.5)), url("banner2.jpg"); */
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.km-banner-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.km-banner-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.km-banner-favorates .buttons {
    float: right;
}

.km-banner-favorates .buttons .button{
    background-color:rgba(255, 255, 255, 0.0);
    color: white;
    font-size: x-large;
    border: 0;
    padding: 0;
}

.km-banner-text h1 {
    text-align: center;
    color: white;
    font-family: "Lato", Sans-serif;
    font-size: 62px;
    font-weight: 600;
    text-transform: uppercase;
}

.km-banner-address{
    text-align: center;
    color: white;
    font-family: "Lato", Sans-serif;
    font-size: 20px;    
}

.km-banner-mail-order {
    text-align: center;
    color: white;
    font-family: "Lato", Sans-serif;
    font-size: 20px;    
    text-transform: uppercase;
}

.km-banner-icons .buttons { 
    float: right;
}

.km-banner-link-color {
    background-color: #818a91 !important;
    border: 0 !important;
    color: white !important;
}

.km-banner-mail-color {
    background-color: #197826 !important;
    border: 0 !important;
    color: white !important;
}

.km-banner-phone-color {
    background-color: #61CE70 !important;
    border: 0 !important;
    color: white !important;
}

.km-banner-direction-color {
    background-color: #0073A4 !important;
    border: 0 !important;
    color: white !important;
}

.km-banner-link-color:hover,
.km-banner-mail-color:hover,
.km-banner-phone-color:hover,
.km-banner-direction-color:hover  {
    transform: scale(1.2);
    transition: all 500ms ease;
}

.km-banner-icon {
    border-radius: 50% !important;
    padding-left: 16px !important; 
    padding-right: 16px !important; 
    margin-left: 5px;
}

.km-banner-featured {
    margin-left: 5px;
    color: white !important;
    border: 0 !important;
    font-weight: 600;
    background-color: rgba(247, 145, 0, 0.8) !important;
}

.km-banner-verified {
    margin-left: 5px;
    color: white !important;
    border: 0 !important;
    font-weight: bold;
    background-color: rgba(17, 199, 42, 0.8) !important;
}

.km-banner-featured:hover, 
.km-banner-verified:hover {
    cursor: auto;
    opacity: 0.9;
}

@media only screen and (max-width: 800px)
{
/*     .km-banner-image {
        height: 350px;
    } */

    .km-banner-favorates {
        height: 50px;
    }

    .km-banner-favorates .buttons .button {
        font-size: medium;
        height: 50px;
    }

    .km-banner-text {
        padding-bottom: 0;
    }

    .km-banner-text h1 {
        font-size: 25px;
    }

    .km-banner-address{
        font-size: 15px;  
        padding-bottom: 0;  
    }

    .km-banner-mail-order {
        font-size: 15px;    
        padding-bottom: 0;
    }

    .km-banner-featured-verify {
        margin-top: 50px;
    } 
    
    .km-banner-icons .buttons { 
        float: left;
    }

}